<launch>
    <arg name="world_model_name" default="sample"/>

    <!-- Worldmodelの可視化ノード -->
    <node pkg="tam_dynamic_map" type="load_world_model.py" name="load_world_model" output="screen">
        <param name="world_model_path" type="str" value="$(arg world_model_name).yaml"/>
    </node>
</launch>
